<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>customer complaint</title>
</head>
<body>
 
    <h1>consumer complaint </h1>
    
    <p> 
       Please Enter the complaint ID to retrieve the required details
    </p>
    <form action="/search_result" method="get">
    <input name="c_id" placeholder="complaint_ID" type="text">
    <input type="submit" value="SubmitForm">
    </form>
    
</body>
</html>